<Project>
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <PublishProvider>FileSystem</PublishProvider>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
    <Configuration>Release</Configuration>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <LastUsedTargetFramework>net8.0</LastUsedTargetFramework>
    <ProjectGuid>fbe766a2-e928-4928-beb6-841ef3f78fd4</ProjectGuid>
    <TargetFrameworks>net8.0</TargetFrameworks>
    <TargetFramework>net8.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <LastUsedRuntimeIdentifier>win-x64</LastUsedRuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <PublishTrimmed Condition="'$(TargetFramework)' == 'net8.0'">true</PublishTrimmed>
    <publishUrl>..\publish\net8-win-x64-single-trimmed-compressed\</publishUrl>
    <PublishUrl>..\publish\net8-win-x64-single-trimmed-compressed\</PublishUrl>
    <PublishDir>..\publish\net8-win-x64-single-trimmed-compressed\</PublishDir>
    <DeleteExistingFiles>true</DeleteExistingFiles>
  </PropertyGroup>
</Project>
